<div class="new-stresser-form">
  <%= form_for @stresser do |f| %>
    <%= f.label :description %><br>
    <%= f.text_field :description, required: true %>
    <br>
    <%= f.label :point_value %><br>
    <%= f.text_field :point_value, required: true %>
    <span class="submit-stresser-btn">
      <%= f.submit 'Create Stresser' %>
    </span>
  <% end %>
</div>