<!-- make the O bigger and bold -->
<h1>Stress-O-meter</h1>
<h3>Thanksgiving 2014 Edition</h3>
<!-- turn off bullet point -->
<div class="container">
  <%= render 'create' %>
  <ul class="stresser-list">
    <% @stressers.each.with_index do |stresser, index| %>
      <li class="stresser">
        <%= index + 1 %>.
        <%= stresser.description %>:
        <%= stresser.point_value %>
        <button>
          <%= link_to 'Edit', edit_stresser_path(stresser) %>
        </button>
        <button>
          <%= link_to 'Now Stress Free', stresser_path(stresser), method: :delete %>
        </button>
      </li>
      <br>
    <% end %>
  </ul>
</div>